doctype
html(lang='en')
  include includes/header.pug

  body(class="page-wrapper" data-barba="wrapper")
    div(class="content-wrapper")
      h1 Website About
      include includes/nav.pug
      main(class="content --about" data-barba="container" data-barba-namespace="about")
        h2 About
        p Texto da about 1
        p Texto da about 2
        p Texto da about 3
        p Texto da about 4
        p Texto da about 5
        p Texto da about 6 

      div(class="transition")