doctype
html(lang='en')
  include includes/header.pug

  body(class="page-wrapper" data-barba="wrapper")
    div(class="content-wrapper")
      h1 Website
      include includes/nav.pug
      main(class="content" data-barba="container" data-barba-namespace="home")
        h2 Home
        p Texto da Home 1
        p Texto da Home 2
        p Texto da Home 3
        p Texto da Home 4
        p Texto da Home 5
        p Texto da Home 6 

      div(class="transition")